body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #A19D9A;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #3E3530;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 1.6em;
}
p, ul, ol {
  margin-top: 0;
  line-height: 180%;
}
ul, ol {
}
a {
  text-decoration: none;
  color: #339CCB;
}
a:hover {
}
#wrapper {
  margin: 0 auto;
  padding: 0;
}
/* Header */
#header-wrapper {
  height: 100px;
  background: #1582AB;
  border-bottom: 10px solid #2AA1CC;
}
#header {
  width: 950px;
  margin: 0 auto;
  padding: 0px 0px 0px 30px;
}
/* Logo */
#logo {
  float: left;
  width: 350px;
  margin: 0;
  padding: 0;
  color: #000000;
}
#logo h1, #logo p {
}
#logo h1 {
  margin-left: 0px;
  padding: 0p 0px 0px 80px;
  letter-spacing: -1px;
  text-transform: lowercase;
  font-size: 3.8em;
  background: redc;
}
#logo p {
  margin: 0;
  padding: 0px 0 0 0px;
  font: normal 14px Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #FFFFFF;
}
#logo a {
  border: none;
  background: none;
  text-decoration: none;
  color: #FFFFFF;
}
/* Menu */
#menu {
  float: right;
  width: 450px;
  height: 90px;
  margin: 0 auto;
  padding: 0;
}
#menu ul {
  margin: 0;
  padding: 60px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}
#menu li {
  float: left;
}
#menu a {
  display: block;
  margin-right: 1px;
  padding: 10px 15px 15px 15px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
}
#menu a:hover, #menu .current_page_item a {
  background: #2AA1CC;
  text-decoration: none;
}
#menu .current_page_item a {
}
/* Page */
#page {
  width: 980px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}
#page-bgtop {
  padding: 20px 0px;
}
/* Content */
.h1 {
  margin-bottom: 40px;
  border-bottom: 1px dotted #E7E2DC;
  height: 41px;
  padding: 7px 0px 0px 30px;
  letter-spacing: -.5px;
}
.links {
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
}
/** Tables **/
table {
  background: #fff;
  border-right:0;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}
th {
  border:0;
  border-bottom:2px solid #555;
  text-align: left;
  padding:4px;
}
th a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}
th a.asc:after {
  content: ' ⇣';
}
th a.desc:after {
  content: ' ⇡';
}
table tr td {
  background: #fff;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
  background: #f5f5f5;
}
table .altrow td {
  background: #f5f5f5;
}
td.actions {
  text-align: center;
  white-space: nowrap;
}
table td.actions a {
  margin: 0px 6px;
  padding:2px 5px;
}

#footer{
  float: right;
}